page-about {

   .section-a, .section-b {
      text-align: center;
   }

   .section-a {
      padding-top: 15%;
   }

   .section-a > ion-icon {
      font-size: 10em;
      margin: 15px;
   }

   .section-b {}
}
