page-categories {

   ion-label {
      white-space: initial;
   }

   .item-md h2 {
      font-family: 'PT_Sans-Bold';
      font-size: 2rem;
      color: #555;
   }

   .item-md p {
      font-size: 1.7rem;
   }
}
